body{
	background-image:url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img(11).jpg");
	background-repeat: no-repeat;
	  background-position: right top;
	  background-color: #ffffff;
}
.container{
	max-width:200%;
}
p.theh {
	color:red;
	text-align:center;
	padding-top:10px;
}
p.mot {
	border-style:dotted;
	color:red;
	text-align:center;
	border-width:5px;
}
p.hai {
	border-style:solid;
	color:red;
	text-align:center;
}
p.ba {
	border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}
div.fixed {
  position: fixed;
  overflow:Scroll;
 text-align:center;
  width: 300px;
  border: 3px solid #73AD21;
}
